{% extends 'farmerapp/base.html' %}

{% block title %}
Sale Form
{% endblock %}

{% block body %}
<h1>Sale Form</h1>
   
    <div class="container">

        <form action="{% url 'salereq' %}" method="POST">
            
            {% csrf_token %}


            <div class="row align-items-center" style="background-color: lightsteelblue;">
                <div class="col-sm-2">
                    <strong>Grains</strong>
                </div>
                
                <div class="col-sm-2">
                    <select name="grain">
                        {% for grain in grains %}
                        <option value="{{grain}}">
                            {{grain}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="col-sm-2">
                    
                    <div>Quantity</div>
                    <div><input type="number" name="grain_qty"></div>
                </div>
                
                <div class="col-sm-2">
            
                    <select name="grain_unit">
                        <option value="Kg">Kg</option>
                        <option value = "Bag">Bag</option>
                    </select>
                </div>
                
                <div class="col-sm-2">
                    <div>Price</div>
                    <div><input type="number" name="grain_price"></div>
                </div>

                <div class="col-sm-2">
                    <div>Comment</div>
                    <div><input type="text" name="grain_comment"></div>
                </div>

                
            </div>  
            <div class="row align-items-center">
                <div class="col-sm-2">
                    <strong>Oilseeds</strong>
                </div>
                
                <div class="col-sm-2">
                    <select name="oilseed">
                        {% for oilseed in oilseeds %}
                        <option value="{{oilseed}}">
                            {{oilseed}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="col-sm-2">
                    
                    <div>Quantity</div>
                    <div><input type="number" name="oilseed_qty"></div>
                </div>
                
                <div class="col-sm-2">
            
                    <select name="oilseed_unit">
                        <option value="Kg">Kg</option>
                        <option value = "Bag">Bag</option>
                    </select>
                </div>
                
                <div class="col-sm-2">
                    <div>Price</div>
                    <div><input type="number" name="oilseed_price"></div>
                </div>

                <div class="col-sm-2">
                    <div>Comment</div>
                    <div><input type="text" name="oilseed_comment"></div>
                </div>
                
            </div>  
            <div class="row align-items-center" style="background-color: lightsteelblue">
                <div class="col-sm-2">
                    <strong>Vegetables</strong>
                </div>
                
                <div class="col-sm-2">
                    <select name="vegetable">
                        {% for vegetable in vegetables %}
                        <option value="{{vegetable}}">
                            {{vegetable}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="col-sm-2">
                    
                    <div>Quantity</div>
                    <div><input type="number" name="vegetable_qty"></div>
                </div>
                
                <div class="col-sm-2">
            
                    <select name="vegetable_unit">
                        <option value="Kg">Kg</option>
                        <option value = "Bag">Bag</option>
                    </select>
                </div>
                
                <div class="col-sm-2">
                    <div>Price</div>
                    <div><input type="number" name="vegetable_price"></div>
                </div>

                <div class="col-sm-2">
                    <div>Comment</div>
                    <div><input type="text" name="vegatable_comment"></div>
                </div>
                
            </div>  
            <div class="row align-items-center">
                <div class="col-sm-2">
                    <strong>Fruits</strong>
                </div>
                
                <div class="col-sm-2">
                    <select name="fruit">
                        {% for fruit in fruits %}
                        <option value="{{fruit}}">
                            {{fruit}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="col-sm-2">
                    
                    <div>Quantity</div>
                    <div><input type="number" name="fruit_qty"></div>
                </div>
                
                <div class="col-sm-2">
            
                    <select name="fruit_unit">
                        <option value="Kg">Kg</option>
                        <option value = "Bag">Bag</option>
                    </select>
                </div>
                
                <div class="col-sm-2">
                    <div>Price</div>
                    <div><input type="number" name="fruit_price"></div>
                </div>

                <div class="col-sm-2">
                    <div>Comment</div>
                    <div><input type="text" name="fruit_comment"></div>
                </div>
                
            </div>
                
    
            <div class="row"></div>
                <div class="col-sm-12">
                    <button>Submit</button>
            </div>
        
        </form>
    
    </div>
{% endblock %}